.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  color: black;
}

.cards {
  display: flex;
  gap: 10px;
}

.laukas {
  background-color: rgb(96, 219, 82);
  width: 900px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: #ebebeb 2px dashed;
  .treeCol {
    background-color: rgb(51, 51, 51);
    width: 250px;
    height: 500px;
    color: #ebebeb;
    padding: 10px;
    border: #ebebeb 6px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

.buttons {
  font-size: 20px;
  width: 130px;
  background-color: rgb(135, 225, 255);
  border: #ebebeb 2px solid;
  border-radius: 7px;
}

.sq {
  width: 130px;
  background-color: rgb(32, 32, 32);
  border: #ebebeb 2px solid;
  border-radius: 7px;
}

.bin {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center;
}

.transformation {
  width: 500px;
  height: 500px;
  background-color: #d1d1d1;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #282c34;
  font-size: 40px;
}

.canvas {
  width: 700px;
  height: 700px;
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #282c34;
  margin-top: 10px;
}

.simpleSq {
  width: 100px;
  height: 100px;
  background-color: #282c34;
  border: #ebebeb 3px solid;
}

.delButton {
  background-color: red;
  height: 40px;
  width: 40px;
  font-size: 16px;
  &::before {
    content: 'DEL';
    font-weight: bold;
  }
}

.logic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.catBin {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.catInput {
  display: flex;
  flex-direction: column;
  &.color {
    display: flex;
    flex-direction: column;
    align-items: center;
    .colorInput {
      width: 332px;
      height: 48px;
    }
  }
}

.cats {
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.cat {
  background-color: #282c34;
  border: #ebebeb 3px solid;
  padding: 3px 20px;
  border-radius: 15px;
}
